<div class="text-center mt-3 mb-3"><b><u>Reset Password</u></b></div>

<form #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.valid && onSubmit(resetPasswordForm)">

    <input type="password" name="newPassword" #newPassword="ngModel" [(ngModel)]="password.newPassword" placeholder="New Password"
    minlength="6" required [ngClass]="{'invalid-textbox': resetPasswordForm.submitted && !newPassword.valid }">
    <!--Validate new password-->
    <div *ngIf="resetPasswordForm.submitted && newPassword.errors">
        <label *ngIf="newPassword.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="newPassword.errors.minlength" class="validation-message">Enter atleast 6 characters.</label>
    </div>

    <input type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="password.confirmPassword" placeholder="Confirm Password"
    minlength="6" required [ngClass]="{'invalid-textbox': resetPasswordForm.submitted && !confirmPassword.valid }">
    <!--Validate confirm password-->
    <div *ngIf="resetPasswordForm.submitted && confirmPassword.errors">
        <label *ngIf="confirmPassword.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="confirmPassword.errors.minlength" class="validation-message">Enter atleast 6 characters.</label>
    </div>

    <input type="submit" value="Change Password">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
    Change password successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>

<div class="alert" *ngIf="errorMessage">
    Confirm password doesn't match.
</div>