<div class="text-center mt-3 mb-3"><b><u>Forgot Password</u></b></div>
<p>We will send you a reset link to your email.</p>
<form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordForm.valid && onSubmit(forgotPasswordForm)">
    <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email"
    required [pattern]="emailRegex"  [ngClass]="{'invalid-textbox': forgotPasswordForm.submitted && !email.valid }">
    <!--Validate user email-->
    <div *ngIf="forgotPasswordForm.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
    </div>

    <input type="submit" value="Send Code">
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
    Email Sent 
</div>